<ion-header>
  <ion-toolbar>
    <ion-title>Recuperacion de contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-container">
    <p>Escribe tu correo para mandarte las instrucciones de recuperación.</p>
  </div>

  <form (submit)="sendLink()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input type="text" [(ngModel)]="email" placeholder="Correo electrónico" name="email"></ion-input>
          </ion-item>
          <ion-button size="small" type="submit" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>